@font-face {
  font-family: 'iconfont';  /* Project id 3029234 */
  src: url('//at.alicdn.com/t/font_3029234_oaa80g133yk.woff2?t=1639979175758') format('woff2'),
       url('//at.alicdn.com/t/font_3029234_oaa80g133yk.woff?t=1639979175758') format('woff'),
       url('//at.alicdn.com/t/font_3029234_oaa80g133yk.ttf?t=1639979175758') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
